@{
    ViewData["Title"] = "Appointments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Appointments</h2>
</div>

<table class="table table-bordered table-hover mt-4 mb-5">
    <thead class="table-dark">
        <tr>
            <th scope="col">Appointment ID</th>
            <th scope="col">Patient</th>
            <th scope="col">Doctor</th>
            <th scope="col">Clinic</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Appointment Time</th>
            <th scope="col">Appointment Status</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1001</td>
            <td>Patient1</td>
            <td>Ethan Carter</td>
            <td>Dermatology</td>
            <td>05.12.2024</td>
            <td>13:30</td>
            <td>
                <span class="badge text-bg-warning">Pending</span>
            </td>
            <td class="d-flex flex-column">
                <button type="button" class="btn btn-danger btn-sm" title="Cancel">
                    <i class="bi bi-x-circle"></i> Cancel
                </button>
            </td>
        </tr>
        <tr>
            <td>1002</td>
            <td>Patient2</td>
            <td>Ethan Carter</td>
            <td>Dermatology</td>
            <td>05.12.2024</td>
            <td>14:00</td>
            <td>
                <span class="badge text-bg-success">Confirmed</span>
            </td>
            <td class="d-flex flex-column">
                <button type="button" class="btn btn-danger btn-sm" title="Cancel">
                    <i class="bi bi-x-circle"></i> Cancel
                </button>
            </td>
        </tr>
        <tr>
            <td>1003</td>
            <td>Patient3</td>
            <td>Ethan Carter</td>
            <td>Dermatology</td>
            <td>05.12.2024</td>
            <td>15:00</td>
            <td>
                <span class="badge text-bg-danger">Cancelled</span>
            </td>
            <td class="d-flex flex-column">
                <button type="button" class="btn btn-danger btn-sm" title="Cancel">
                    <i class="bi bi-x-circle"></i> Cancel
                </button>
            </td>
        </tr>
    </tbody>
</table>
