<!-- footer - start -->
<div class="container" style="max-width: 1500px;">
    <div class="row">
        <div class="col">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="/Doctors" class="nav-link px-2 text-muted">Doctors</a></li>
                <li class="nav-item"><a href="/Clinics" class="nav-link px-2 text-muted">Clinics</a></li>
            </ul>
            <p class="text-center text-muted">©@DateTime.Now.Year - Hospital Appointment System, All rights reserved!</p>
        </div>
    </div>
</div>
<!-- footer - end -->