@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-dark">Patients</h2>
</div>

<table class="table table-hover table-bordered table-striped mt-4 shadow-sm rounded">
    <thead class="table-dark">
        <tr>
            <th scope="col">Patient Identity</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Phone</th>
            <th scope="col">Mail</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>11111111111</td>
            <td>John</td>
            <td>Doe</td>
            <td>08.08.2001</td>
            <td>05555555555</td>
            <td>john.doe@mail.com</td>
            <td class="d-flex justify-content-start">
                <button type="button" class="btn btn-primary btn-sm me-2">Appointment Detail</button>
                <button type="button" class="btn btn-outline-warning btn-sm">Prescribe</button>
            </td>
        </tr>
        <tr>
            <td>11111111112</td>
            <td>Jane</td>
            <td>Smith</td>
            <td>10.10.1995</td>
            <td>05555555556</td>
            <td>jane.smith@mail.com</td>
            <td class="d-flex justify-content-start">
                <button type="button" class="btn btn-primary btn-sm me-2">Appointment Detail</button>
                <button type="button" class="btn btn-outline-warning btn-sm">Prescribe</button>
            </td>
        </tr>
        <tr>
            <td>11111111113</td>
            <td>Michael</td>
            <td>Johnson</td>
            <td>15.05.1992</td>
            <td>05555555557</td>
            <td>michael.johnson@mail.com</td>
            <td class="d-flex justify-content-start">
                <button type="button" class="btn btn-primary btn-sm me-2">Appointment Detail</button>
                <button type="button" class="btn btn-outline-warning btn-sm">Prescribe</button>
            </td>
        </tr>
    </tbody>
</table>
