
@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Patients</h2>
</div>

<table class="table table-striped table-borderless mt-4">
    <thead>
        <tr>
            <th scope="col">Patient Identity</th>
            <th scope="col">Patient First Name</th>
            <th scope="col">Patient Last Name</th>
            <th scope="col">Patient Birthday</th>
            <th scope="col">Patient Phone</th>
            <th scope="col">Patient Mail</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>20242757784</td>
            <td>Ahmet Faruk</td>
            <td>Türk</td>
            <td>08.08.2001</td>
            <td>05437431400</td>
            <td>af_trk@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-primary me-1">Appointment</button>
                <button type="button" class="btn btn-warning">Prescribe</button>
            </td>
        </tr>
        <tr>
            <td>20242757784</td>
            <td>Ahmet Faruk</td>
            <td>Türk</td>
            <td>08.08.2001</td>
            <td>05437431400</td>
            <td>af_trk@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-primary me-1">Appointment</button>
                <button type="button" class="btn btn-warning">Prescribe</button>
            </td>
        </tr>
        <tr>
            <td>20242757784</td>
            <td>Ahmet Faruk</td>
            <td>Türk</td>
            <td>08.08.2001</td>
            <td>05437431400</td>
            <td>af_trk@hotmail.com</td>
            <td>
                <button type="button" class="btn btn-primary me-1">Appointment</button>
                <button type="button" class="btn btn-warning">Prescribe</button>
            </td>
        </tr>
    </tbody>
</table>