
@{
    ViewData["Title"] = "AddCheckup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Add New Checkup</h2>
</div>

<!-- Add New Checkup Form -->
<form class="mt-4" method="POST">
    <div class="mb-3">
        <label for="Question" class="form-label fs-5">Question</label>
        <textarea id="Question" name="Question" class="form-control" rows="5" required></textarea>
    </div>

    <div class="mb-3">
        <label for="MinAge" class="form-label fs-5">Minimum Age</label>
        <input type="number" class="form-control" id="MinAge" name="MinAge" required min="0">
    </div>

    <div class="mb-3">
        <label for="MaxAge" class="form-label fs-5">Maximum Age</label>
        <input type="number" class="form-control" id="MaxAge" name="MaxAge" required min="0">
    </div>

    <div class="mb-3">
        <label for="Gender" class="form-label fs-5">Gender</label>
        <select class="form-select" id="Gender" name="Gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success btn-lg w-100">Save Checkup</button>
</form>