
@{
    ViewData["Title"] = "Checkups";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Checkups</h2>
</div>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th scope="col">Checkup ID</th>
            <th scope="col">Checkup Type</th>
            <th scope="col">Checkup Question</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1001</td>
            <td>Under 18</td>
            <td>Have you been vaccinated against measles in the last 6 months?</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>1001</td>
            <td>Under 18</td>
            <td>Have you been vaccinated against measles in the last 6 months?</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>1001</td>
            <td>Under 18</td>
            <td>Have you been vaccinated against measles in the last 6 months?</td>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>