@{
    ViewData["Title"] = "Prescriptions";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Prescriptions</h2>
</div>

<!-- Prescriptions Table -->
<table class="table table-striped mt-4 shadow-sm rounded-3">
    <thead class="table-light">
        <tr>
            <th scope="col">Prescription ID</th>
            <th scope="col">Clinic</th>
            <th scope="col">Doctor</th>
            <th scope="col">Date</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-hover">
            <td>1000</td>
            <td>Dermatology</td>
            <td>Ethan Carter</td>
            <td>06.12.2024</td>
            <td>
                <button type="button" class="btn btn-outline-primary me-1">View Details</button>
            </td>
        </tr>
        <tr class="table-hover">
            <td>1001</td>
            <td>Cardiology</td>
            <td>Emily Watson</td>
            <td>07.12.2024</td>
            <td>
                <button type="button" class="btn btn-outline-primary me-1">View Details</button>
            </td>
        </tr>
        <tr class="table-hover">
            <td>1002</td>
            <td>Pediatrics</td>
            <td>John Smith</td>
            <td>08.12.2024</td>
            <td>
                <button type="button" class="btn btn-outline-primary me-1">View Details</button>
            </td>
        </tr>
    </tbody>
</table>

